<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <meta charset="utf-8">
        <title>Portal OAuth2 Client Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" media="screen">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    </div>
</head>
<body>
<div th:fragment="header">
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="../" class="navbar-brand">OAuth Client</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
</body>
</html>